{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/wiki/header" .}}
    <form class="form panel panel-radius" action="{{.RepoLink}}/wiki/new" method="post" id="wiki-page-create-form">
        {{.CsrfTokenHtml}}
        <div class="panel-header">
            {{if or .PageTitle}}
                <h2>{{.PageTitle}}</h2>
                <input type="hidden" name="title" value="{{.PageTitle}}">
            {{else}}
                <label>Title:</label>
                <input type="text" class="ipt" name="title" value="{{.PageTitle}}">
            {{end}}
        </div>
        <div class="panel-content">
            {{template "ng/base/alert" .}}
            <div class="field clear">
                <textarea class="ipt ipt-large ipt-radius {{if .Err_PageContent}}ipt-error{{end}}" id="page-content" name="content">{{.Page.Content}}</textarea>
            </div>
            <div class="field">
                <button class="btn btn-large btn-blue btn-radius">{{if .IsCreate}}{{.i18n.Tr "repo.wiki.create_page"}}{{else}}{{.i18n.Tr "repo.wiki.edit_page"}}{{end}}</button>
                <a class="btn btn-small btn-gray btn-radius" id="wiki-page-create-cancel" href="{{.RepoLink}}"><strong>Cancel</strong></a>
            </div>
        </div>
    </form>
</div>
{{template "ng/base/footer" .}}