{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/wiki/header" .}}
    <div id="repo-content" class="clear container">
        <div class="panel panel-radius" id="repo-wiki">
            <p class="panel-header">
                <i class="icon fa fa-book fa-lg"></i>
                <strong class="file-name">{{.i18n.Tr "repo.wiki.pagelist" }}</strong>
            </p>
            <div class="panel-content code-view wiki-page-list" id="repo-wiki-view">
                <ul>
                    {{range .Pagelist}}
                    <li>
                        <a href="{{$.RepoLink}}/wiki/{{.Alias}}">{{.Title}}</a>
                        <hr>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}