{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div id="repo-content" class="clear container">
        <div class="panel panel-radius" id="repo-wiki">
            <p class="panel-header">
                <i class="icon fa fa-book fa-lg"></i>
                <strong class="file-name">{{.Page.Title}}</strong>
                <span class="action right">
                    <a href="#" class="edit-comment"><i class="octicon octicon-pencil"></i></a>
                    <a href="#" data-id="1" class="remove-comment"><i
                            class="octicon octicon-x"></i></a>
                </span>
            </p>

            <div class="panel-content markdown code-view" id="repo-code-view">
                {{.FileContent | Str2html}}
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}